body{
    font-family: 'Alata', sans-serif;
    background: #131414;
}

h2{
    font-size: 2em;
    color:#c42331;
}

.div-search{
    margin:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    padding: 10px;
    width:60%;
    border: none;
    outline-color: green;
}
.moneyHeist{
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#myTable{
    width:58%;
    padding:10px;
}
#myTable th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-size: 1.7em;
    color:#93e322
}
#myTable td, #myTable th {
    border: 1px solid #aeb5b2;
    padding: 9px;
}

#myTable td{
    font-size: 1.2em;
    color: #aeb5b2;
}